<div style="float:left"> 
	Имя персонажа
	<br/>
	<br/>Сила
	<br/>Ловкость
	<br/>Телосложение
	<br/>Интеллект
	<br/>Мудрость
	<br/>Харизма
	<br/>Пассивная внимательность
	<br/>Прочие владения и языки
</div>
<div style="float:left"> 
	Класс и Уровень
	<br/>Раса
	<br/>Вдохновение
	<br/>Бонус Мастерства
	<ul>Спасброски
		<li>Сила</li>
		<li>Ловкость</li>
		<li>Телосложение</li>
		<li>Интеллект</li>
		<li>Мудрость</li>
		<li>Харизма</li>
	</ul>
	<ul>Навыки
		<li>Акробатика</li>
		<li>Анализ</li>
		<li>Атлетика</li>
		<li>Внимательность</li>
		<li>Выживание</li>
		<li>Выступление</li>
		<li>Запугивание</li>
		<li>История</li>
		<li>Ловкость рук</li>
		<li>Магия</li>
		<li>Медицина</li>
		<li>Обман</li>
		<li>Природа</li>
		<li>Проницательность</li>
		<li>Религия</li>
		<li>Скрытность</li>
		<li>Убеждение</li>
		<li>Уход за животными</li>
	</ul>
</div>
<div style="float:left"> 
	Предыстория
	<br/>Мировозрение
	<br/>Класс доспехов Инициатива Скорость
	<br/>Текущие хиты Спасброски смерти
	<br/>Временные хиты
	<br/>Кость хитов
	<br/>Атаки и заклинания
	<br/>Снаряжение
</div>
<div style="float:left">
	Имя Игрока
	<br/>Опыт
	<br/> Черты характера
	<br/>Идеалы 
	<br/>Привязвнности
	<br/>Слабости
	<br/>Умения и Особенности
</div>
