<form method="POST">

	<input type="hidden" value="{{characterId}}" id="characterId" />

	<div style="float:left"> 
		Имя персонажа
		<br/><input id="name" name="name" value="{{character.name}}" />
		<br/>Сила
		<br/>Ловкость
		<br/>Телосложение
		<br/>Интеллект
		<br/>Мудрость
		<br/>Харизма
		<br/><input type=submit value="Распределить характеристики"/>
		<br/>Пассивная внимательность
		<br/>Прочие владения и языки
	</div>
	<div style="float:left"> 
		Класс и Уровень
		<br/><select id="className" name="className">
			<option disabled>Выбор класса </option>
			{{>option column=character.className value="barbarian" title="Варвар"}}
			{{>option column=character.className value="bard" title="Бард"}}
			{{>option column=character.className value="cleric" title="Жрец"}}
			{{>option column=character.className value="druid" title="Друид"}}
			{{>option column=character.className value="fighter" title="Воин"}}
			{{>option column=character.className value="monk" title="Монах"}}
			{{>option column=character.className value="paladin" title="Паладин"}}
			{{>option column=character.className value="ranger" title="Следопыт"}}
			{{>option column=character.className value="roque" title="Плут"}}
			{{>option column=character.className value="sorcerer" title="Чародей"}}
			{{>option column=character.className value="warloc" title="Колдун"}}
			{{>option column=character.className value="wizard" title="Волшебник"}}
		</select>
		<a href id="classNameAbout">Инфомация о классе</a>
		<br/>Раса
		<br/><select id="race" name="race">
			<option disabled>Выбор расы </option>
			{{>option column=character.race value="dwarf" title="Дварф"}}
			{{>option column=character.race value="elf" title="Эльф"}}
			{{>option column=character.race value="halfling" title="Полурослик"}}
			{{>option column=character.race value="human" title="Человек"}}
			{{>option column=character.race value="dragonborn" title="Драконорожденный"}}
			{{>option column=character.race value="gnom" title="Гном"}}
			{{>option column=character.race value="half-Elf" title="Полуэльф"}}
			{{>option column=character.race value="half-orc" title="Полуорк"}}
			{{>option column=character.race value="tiefling" title="Тифлинг"}}
		</select>
		<a href id="raceAbout">Инфомация о расе</a>
		<br/>Вдохновение
		<br/>Бонус Мастерства
		<ul>Спасброски
			<li>Сила</li>
			<li>Ловкость</li>
			<li>Телосложение</li>
			<li>Интеллект</li>
			<li>Мудрость</li>
			<li>Харизма</li>
		</ul>
		<ul>Навыки
			<li>Акробатика</li>
			<li>Анализ</li>
			<li>Атлетика</li>
			<li>Внимательность</li>
			<li>Выживание</li>
			<li>Выступление</li>
			<li>Запугивание</li>
			<li>История</li>
			<li>Ловкость рук</li>
			<li>Магия</li>
			<li>Медицина</li>
			<li>Обман</li>
			<li>Природа</li>
			<li>Проницательность</li>
			<li>Религия</li>
			<li>Скрытность</li>
			<li>Убеждение</li>
			<li>Уход за животными</li>
		</ul>
	</div>
	<div style="float:left"> 
		Предыстория
		<br/>Мировозрение
		<br/><select id="ideology" name="ideology">
			<option disabled>Выбор мировозрения </option>
			{{>option column=character.ideology value="abiding-kind" title="законопослушно-добрый"}}
			{{>option column=character.ideology value="neutral-kind" title="нейтрально-добрый"}}
			{{>option column=character.ideology value="chaotically-kind" title="хаотично-добрый"}}
			{{>option column=character.ideology value="abiding-neutral" title="законопослушно-нейтральный"}}
			{{>option column=character.ideology value="neutral" title="нейтральный"}}
			{{>option column=character.ideology value="chaotically-neutral" title="хаотично-нейтральный"}}
			{{>option column=character.ideology value="abiding-wicked" title="законопослушно-злой"}}
			{{>option column=character.ideology value="neutral-wicked" title="нейтрально-злой"}}
			{{>option column=character.ideology value="chaotically-wicked" title="хаотично-злой"}}
		</select>
		<br/>Класс доспехов Инициатива Скорость
		<br/>Текущие хиты Спасброски смерти
		<br/>Временные хиты
		<br/>Кость хитов
		<br/>Атаки и заклинания
		<br/>Снаряжение
	</div>

	<div style="float:left">
		Имя Игрока
		<br/><input id="playerName" name="playerName" value="{{character.playerName}}" />
		<br/>Опыт
		<br/>Черты характера
		<br/><textarea id="traits" name="traits">{{character.traits}}</textarea>
		<br/>Идеалы
		<br/>Привязвнности
		<br/>Слабости
		<br/>Умения и Особенности
	</div>

	<div style="float:left">
		<input type=submit value="Сохранить персонажа"/>
	</div>
</form>
<script>

	$('#raceAbout').on('change', function() {
		var race = $('#race').val();
		alert(race);
	});
	
	$('#classNameAbout').on('change', function() {
		var className = $('#className').val();
		alert(className);
	});
</script>
