<form method="POST">

	<input type="hidden" value="{{characterId}}" id="characterId" />

	<div style="float:left"> 
		Имя персонажа
		<br/><input id="name" name="name" value="{{character.name}}" />
		<br/>Сила
		<br/>Ловкость
		<br/>Телосложение
		<br/>Интеллект
		<br/>Мудрость
		<br/>Харизма
		<br/>Пассивная внимательность
		<br/>Прочие владения и языки
	</div>
	<div style="float:left"> 
		Класс и Уровень
		<br/><select id="className" name=className>
			<option disabled>Выбор класса </option>
			<option value="barbarian">Варвар</option>
			<option value="bard">Бард</option>
			<option value="cleric">Жрец</option>
			<option value="druid">Друид</option>
			<option value="fighter">Воин</option>
			<option value="monk">Монах</option>
			<option value="paladin">Паладин</option>
			<option value="ranger">Следопыт</option>
			<option value="roque">Плут</option>
			<option value="sorcerer">Чародей</option>
			<option value="warloc">Колдун</option>
			<option value="wizard">Волшебник</option>
		</select>
		<a href id="classNameAbout">Инфомация о классе</a>
		<br/>Раса
		<br/><select id="race" name=race>
			<option disabled>Выбор расы </option>
			<option value="dwarf">Дварф</option>
			<option value="elf">Эльф</option>
			<option value="halfling">Полурослик</option>
			<option value="human">Человек</option>
			<option value="dragonborn">Драконорожденный</option>
			<option value="gnom">Гном</option>
			<option value="half-Elf">Полуэльф</option>
			<option value="half-orc">Полуорк</option>
			<option value="tiefling">Тифлинг</option>
		</select>
		<a href id="raceAbout">Инфомация о расе</a>
		<br/>Вдохновение
		<br/>Бонус Мастерства
		<ul>Спасброски
			<li>Сила</li>
			<li>Ловкость</li>
			<li>Телосложение</li>
			<li>Интеллект</li>
			<li>Мудрость</li>
			<li>Харизма</li>
		</ul>
		<ul>Навыки
			<li>Акробатика</li>
			<li>Анализ</li>
			<li>Атлетика</li>
			<li>Внимательность</li>
			<li>Выживание</li>
			<li>Выступление</li>
			<li>Запугивание</li>
			<li>История</li>
			<li>Ловкость рук</li>
			<li>Магия</li>
			<li>Медицина</li>
			<li>Обман</li>
			<li>Природа</li>
			<li>Проницательность</li>
			<li>Религия</li>
			<li>Скрытность</li>
			<li>Убеждение</li>
			<li>Уход за животными</li>
		</ul>
	</div>
	<div style="float:left"> 
		Предыстория
		<br/>Мировозрение
		<br/><select id="ideology" name=ideology>
			<option disabled>Выбор мировозрения </option>
			<option value="abiding-kind">законопослушно-добрый</option>
			<option value="neutral-kind">нейтрально-добрый</option>
			<option value="chaotically-kind">хаотично-добрый</option>
			<option value="abiding-neutral">законопослушно-нейтральный</option>
			<option value="neutral">нейтральный</option>
			<option value="chaotically-neutral">хаотично-нейтральный</option>
			<option value="abiding-wicked">законопослушно-злой</option>
			<option value="neutral-wicked">нейтрально-злой</option>
			<option value="chaotically-wicked">хаотично-злой</option>
		</select>
		<br/>Класс доспехов Инициатива Скорость
		<br/>Текущие хиты Спасброски смерти
		<br/>Временные хиты
		<br/>Кость хитов
		<br/>Атаки и заклинания
		<br/>Снаряжение
	</div>

	<div style="float:left">
		Имя Игрока
		<br/><input id="playerName" name="playerName" value="{{character.plaeyrName}}" />
		<br/>Опыт
		<br/>Черты характера
		<br/>Идеалы
		<br/>Привязвнности
		<br/>Слабости
		<br/>Умения и Особенности
	</div>

	<div style="float:left">
		<input type=submit value="Сохранить персонажа"/>
	</div>
</form>
<script>

	$('#raceAbout').on('change', function() {
		var race = $('#race').val();
		alert(race);
	});
	
	$('#classNameAbout').on('change', function() {
		var className = $('#className').val();
		alert(className);
	});
</script>
