сумма кубиков: {{character.cube}}</br>
ваша ловкость: {{character.agility}}</br>
ваша сила: {{character.power}}</br>
ваше обаяние: {{character.charm}}</br>
<table border="1">
	<tr>
		<td>Ловкость</td> <td>Сила</td> <td>Обаяние</td>
	</tr>
	<tr>
		<td colspan="2" rowspan="3">Заклинания</td> <td>Деньги</td>
	</tr>
	<tr><td>Фляга</td></tr>
	<tr><td>Меч</td></tr>
	<tr>
		<td colspan="3">В заплечном мешке</td>
	</tr>
	<tr>
		<td colspan="3">Информация</td>
	</tr>
	<tr>
		<td colspan="3">Удача</td>
	</tr>
</table>
